Evaluation/N8N/evaluate.json
{
  "name": "evaluate",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Enp2QdmOEs79BwaCKwVvkC2P9Jh70mnPwXQvWtx-ZJY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Enp2QdmOEs79BwaCKwVvkC2P9Jh70mnPwXQvWtx-ZJY/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -200,
        -180
      ],
      "id": "1645c4a0-f60a-4160-b641-8f4d25f3befb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wC1Oa9uK7wwUUeEH",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        -180
      ],
      "id": "4df3df9e-1741-4955-a4ef-6772622a24a2",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10A7EPHvx1jZywBJbgNuGG1hU9JuhEPdlL0nk5mS9goA",
          "mode": "list",
          "cachedResultName": "output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10A7EPHvx1jZywBJbgNuGG1hU9JuhEPdlL0nk5mS9goA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10A7EPHvx1jZywBJbgNuGG1hU9JuhEPdlL0nk5mS9goA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ $('Google Sheets').item.json.Question }}",
            "human_answer": "={{ $('Google Sheets').item.json.Answer }}",
            "data_name": "data_core",
            "duration": "={{ $json.durationSec }}",
            "bot_answer": "={{ $('AI Agent').item.json.output }}",
            "BLEU": "={{ $('HTTP Request').item.json.BLEU }}",
            "Factual_Accuracy": "={{ $('HTTP Request').item.json.Factual_Accuracy }}",
            "Relevance_Score": "={{ $('HTTP Request').item.json.Relevance_Score }}",
            "ROUGE": "={{ $('HTTP Request').item.json.ROUGE }}",
            "Semantic_Similarity": "={{ $('HTTP Request').item.json.Semantic_Similarity }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data_name",
              "displayName": "data_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bot_answer",
              "displayName": "bot_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "human_answer",
              "displayName": "human_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BLEU",
              "displayName": "BLEU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Factual_Accuracy",
              "displayName": "Factual_Accuracy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Relevance_Score",
              "displayName": "Relevance_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ROUGE",
              "displayName": "ROUGE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Semantic_Similarity",
              "displayName": "Semantic_Similarity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1620,
        440
      ],
      "id": "b9d3a97f-66db-4fb8-974d-7391a593fed7",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wC1Oa9uK7wwUUeEH",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unified-wahoo-daring.ngrok-free.app/evaluate/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.question }}"
            },
            {
              "name": "bot_answer",
              "value": "={{ $('AI Agent1').item.json.output }}"
            },
            {
              "name": "real_answer",
              "value": "={{ $('Google Sheets').item.json.Answer }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        140
      ],
      "id": "c7fe35aa-0da7-4594-bd56-bcd2ec202c1a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6801af8f-b0b4-44c1-a9ef-13710b9960b1",
              "name": "startTime",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "dfae2ab3-5888-4b0f-a89d-fcab52a443ee",
              "name": "question",
              "value": "={{ $json.Question }}",
              "type": "string"
            },
            {
              "id": "154130ad-1ea8-4d2c-8317-42233634326c",
              "name": "startMs",
              "value": "={{ new Date().getTime() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        -180
      ],
      "id": "9978500c-a209-48c3-89c4-18d41e080a2f",
      "name": "Start"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const start = $('Start').item.json.startMs;\nconst startTime = $('Start').item.json.startTime;\nconst end = new Date().getTime();\nconst endTime = new Date().toISOString();\nconst question = $('Google Sheets').item.json.Question\n\nreturn {\n  json: {\n    question,\n    endTime,\n    endMs: end,\n    durationMs: end - start,\n    durationSec: (end - start) / 1000,\n    startTime\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -180
      ],
      "id": "e50239f0-0faf-4e9f-94a2-21d948bed69f",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        60,
        -180
      ],
      "id": "0525097d-def7-46bf-9839-de8c3855175b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Loop Over Items').item.json.Question }}",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        800,
        -180
      ],
      "id": "9da312a4-331b-46de-8f47-dd31022ca9e6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "tableName": "=n8n_chat_histories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        980,
        60
      ],
      "id": "51aee90a-4139-4a46-b5ff-5e39091a7ca1",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "y0YF1F4MKK5YeslP",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        860,
        60
      ],
      "id": "bd5e7851-9328-4adf-b867-cdb41db20c1d",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Nk7Pd9f1YTDyhp5Z",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions.",
        "topK": 5
      },
      "id": "5bb03423-388d-48fa-8ae6-a5f6c67859b6",
      "name": "Retrieve Documents1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1160,
        60
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1000,
        200
      ],
      "id": "1e26f461-fcfa-4638-a798-428e938d8d49",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "nldB6zRahygpLVhq",
          "name": "Supabase  Phuc's account "
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1080,
        340
      ],
      "id": "c088e361-a855-440f-9dd5-f3163b39d23c",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "Nk7Pd9f1YTDyhp5Z",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        180
      ],
      "id": "73c4b9d8-917a-4150-a38f-fa0947a6f97b",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "Nk7Pd9f1YTDyhp5Z",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output;\nconst escapedText = text.replace(/([_*[\\]()~`>#+-.!])/g, '\\\\$1');\nreturn { formatted_output: escapedText };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -180
      ],
      "id": "758d2543-38e1-4aed-922d-62af92bbe124",
      "name": "Code5"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ef146018-7869-4d8d-9bd3-ee9017cee24d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ddc78abf6d26c6050fafb0ba452cf56a55cb8482e5cde128d75a821055f99c24"
  },
  "id": "LuvlYEw0q71ZKMnp",
  "tags": []
}